* {

}

@font-face {
  font-family: 'Futurama';
  src: URL('./fonts/fr-title.ttf')
}

header {
  background-color: #84D7E1FF;
  width: 100%;
  font-family: 'Futurama';
  color: #C71000FF;
}

header h2 {
  font-size: 3.4em;
}

header h2:hover {
  cursor: pointer;
}

.app-body {
  min-height: 100vh;
  background-color: #FF95A8FF;
}

.actionText {
  background-color: white;
  border: .2em solid black;
}

.actionText:hover{
  cursor: pointer;
}

.actionImages {
  max-height: 20em;
}

.imageBox img {
  max-height: 30em;
}

.gridImages {
  max-height: 15em;
}

.characterGrid {

}
