* {
  border: 1px solid black;
}

@font-face {
  font-family: 'Futurama';
  src: URL('./fonts/fr-title.ttf')
}

header {
  background-color: #84D7E1FF;
  width: 100%;
  font-family: 'Futurama';
  color: #C71000FF;
}

header h2 {
  font-size: 3.4em;
}

header h2:hover {
  cursor: pointer;
}
